[submodule "FundMe/lib/foundry-devops"]
	path = FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Lottery/lib/chainlink-brownie-contracts"]
	path = Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Lottery/lib/solmate"]
	path = Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Lottery/lib/foundry-devops"]
	path = Lottery/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "ERC-20_Token/lib/openzepplin-contracts"]
	path = ERC-20_Token/lib/openzepplin-contracts
	url = https://github.com/openzepplin/openzepplin-contracts
[submodule "NFTS/lib/openzeppelin-contracts"]
	path = NFTS/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTS/lib/foundry-devops"]
	path = NFTS/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "STABLE_COIN/lib/openzepplin-contracts"]
	path = STABLE_COIN/lib/openzepplin-contracts
	url = https://github.com/openzepplin/openzepplin-contracts
[submodule "STABLE_COIN/lib/chainlink-brownie-contracts"]
	path = STABLE_COIN/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
